{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="flex justify-center mt-8">
        <form method="post" class="w-1/4 flex-col justify-center bg-white shadow-md rounded-lg p-6">
            {% if error %}
                <div class="alert alert-danger mb-4 text-red-600">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <h1 class="text-xl font-bold mb-4">Please sign in</h1>

            <label for="username" class="block text-gray-700">Email</label>
            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control border rounded-md py-2 px-3 mb-4 w-full" autocomplete="email" required autofocus>

            <label for="password" class="block text-gray-700">Password</label>
            <input type="password" name="_password" id="password" class="form-control border rounded-md py-2 px-3 mb-4 w-full" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit" class="btn btn-primary w-full bg-blue-600 text-white font-semibold py-2 rounded-md hover:bg-blue-700">Submit</button>
        </form>
    </div>

    <!-- Lien pour la réinitialisation du mot de passe -->
    <div class="flex justify-center mt-4">
        <a href="{{ path('app_forgot_password_request') }}" class="text-blue-600 hover:text-blue-800 underline">Mot de passe oublié ?</a>
    </div>
{% endblock %}
