{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <!-- Section: Design Block -->


        <div class="container text-center">
            <h1>Bienvenue sur la plateforme de gestion Qualiopi</h1>
            <p>Veuillez vous connecter pour accéder à votre espace personnalisé.</p>
            <a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a>
        </div>

    <!-- Section: Design Block -->
{% endblock %}
