{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mx-auto my-8 p-4 bg-white shadow-md rounded-lg relative">
        <div class="flex justify-between items-center mb-4">
            <h1 class="text-3xl font-bold text-gray-800">Bienvenue, {{ user.FirstName }} {{ user.LastName }}</h1>
            c
        </div>

        <h2 class="text-2xl font-semibold mb-4 text-gray-700">Formations Associées</h2>
        <ul class="space-y-2">
            {% for formation in formations %}
                <li class="flex justify-between items-center bg-gray-50 p-3 rounded-md shadow">
                    <span class="text-lg text-gray-800">{{ formation.name }}</span>
                    <a href="{{ path('user_formation_documents', {id: formation.id}) }}" class="text-blue-600 hover:text-blue-800 underline">Voir les fichiers</a>
                </li>
            {% else %}
                <li class="text-gray-500">Aucune formation associée.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}