{% extends 'base.html.twig' %}



{% block body %}
    <h1>Bienvenue, {{ user.FirstName }} {{ user.LastName }}</h1>

    <h2>Formations Associées</h2>
    <ul>
        {% for formation in formations %}
            <li>
                {{ formation.name}}
                <a href="{{ path('app_upload_docs', { id: formation.id }) }}">Uploader un document</a>
            </li>
        {% else %}
            <li>Aucune formation associée.</li>
        {% endfor %}
    </ul>
{% endblock %}
