{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue, {{ user.FirstName }} {{ user.LastName }}</h1>
    <h2>Formations Associées</h2>
    <ul>
        {% for formation in formations %}
            <li>
                <a href="{{ path('user_formation_documents', { id: formation.id }) }}">
                    {{ formation.name }}
                </a>
            </li>
        {% else %}
            <li>Aucune formation associée.</li>
        {% endfor %}
    </ul>
{% endblock %}
